---
const { title, image, description, stack, githubUrl, liveUrl } =
  Astro.props as CardProps;

const imagePath = `/images/${image}.webp`;
---

<p class="text-white">{imagePath}</p>

<article
  class="group bg-gallery-50 dark:bg-gallery-800 rounded-lg p-3 mobile-lg:p-7 w-full max-w-5xl shadow hover:shadow-md hover:shadow-international-orange-500/30 transform duration-300"
>
  <div
    class="flex flex-col-reverse md:flex-row items-start justify-between gap-7"
  >
    <div class="flex flex-col justify-between">
      <div>
        <h3
          class="text-3xl mobile-lg:text-4xl font-thin text-black dark:text-white mb-5"
        >
          {title}
        </h3>
        <div class="flex gap-2 flex-wrap mb-5">
          {
            stack.map((stackItem) => (
              <span class="inline-block bg-gallery-600 dark:bg-gallery-400 text-white dark:text-black px-2 py-0.5 text-sm">
                {stackItem}
              </span>
            ))
          }
        </div>
        <div class="mb-7">
          <p
            class="text-outer-space-900 dark:text-outer-space-50 font-semibold text-base mobile-md:text-lg mobile-lg:text-xl leading-relaxed"
          >
            {description}
          </p>
        </div>
      </div>

      <div class="flex gap-3 flex-wrap">
        <a
          href={liveUrl}
          target="_blank"
          class="link text-white bg-international-orange hover:bg-international-orange-600 border-transparent"
          >live demo</a
        >
        <a
          href={githubUrl}
          target="_blank"
          class="link text-outer-space dark:text-gallery-300 hover:text-black dark:hover:text-white bg-transparent border-outer-space dark:border-gallery-300 hover:border-black dark:hover:border-white"
          >code</a
        >
      </div>
    </div>
    <div
      class="w-full md:min-h-[50%] md:min-w-[50%] md:max-h-[50%] md:max-w-[50%] overflow-hidden border border-fiord shadow rounded-lg"
    >
      <img
        src={imagePath}
        alt={`screenshot image of ${title}`}
        width={640}
        height={640}
        class="group-hover:scale-[1.02] transition duration-[3000ms] w-full"
      />
    </div>
  </div>
</article>

<style>
  .link {
    @apply px-3 py-1 uppercase font-semibold inline-block border-2 rounded-lg transition duration-150;
  }
</style>
