---
const { title, image, description, stack, githubUrl, liveUrl } =
  Astro.props as CardProps;

import { Image } from "@astrojs/image/components";
---

<article
  class="group bg-fiord-50 rounded-sm p-7 w-full max-w-5xl shadow hover:shadow-md hover:shadow-international-orange-500/30 transform duration-300"
>
  <div class="flex justify-between gap-7">
    <div class="flex flex-col justify-between">
      <div>
        <h3 class="text-4xl font-thin text-black dark:text-white mb-5">
          {title}
        </h3>
        <div class="flex gap-2 flex-wrap mb-5">
          {
            stack.map((stackItem) => (
              <span class="inline-block bg-gallery-600 text-white px-2 py-0.5 text-sm">
                {stackItem}
              </span>
            ))
          }
        </div>
        <div class="mb-7">
          <p class="text-outer-space-900 font-semibold text-xl leading-relaxed">
            {description}
          </p>
        </div>
      </div>

      <div class="space-x-3">
        <a href={liveUrl} target="_blank" class="link link-primary">live demo</a
        >
        <a href={githubUrl} target="_blank" class="link link-secondary">code</a>
      </div>
    </div>
    <div
      class="min-h-max min-w-max overflow-hidden border border-fiord shadow rounded-sm"
    >
      <Image
        src={import(`../../images/${image}.webp`)}
        alt={`screenshot image of ${title}`}
        width={320}
        height={320}
        class="group-hover:scale-[1.02] transform duration-[3000ms]"
      />
    </div>
  </div>
</article>

<style>
  .link {
    @apply px-3 py-1 uppercase font-semibold inline-block border-2 border-transparent rounded-sm transform duration-150;
  }
  .link-primary {
    @apply text-white bg-international-orange hover:bg-international-orange-600;
  }

  .link-secondary {
    @apply text-outer-space hover:text-black bg-transparent border-outer-space hover:border-black;
  }
</style>
